


/* css index, header y footer*/
body {	
		max-width: 1900px;
		max-height: 1080px;
		font-family: 'Quicksand', sans-serif;
		font-family: 'Ubuntu Condensed', sans-serif;
		}



.headergrid {
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-column-gap: 10px;
		justify-content:end;
		}


ul {
		list-style-type: none;
		text-align: left;
		text-decoration: none;
		}


li {
		text-decoration: none;
		margin-right: 50px;
		padding: 0 4px;
		}

.noticiasdestacado {
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: space-around;
		}


.size {
	width:890px;
	height:750px;

}


h2 {
		color: white;
		background: black;
		}

p {
		color:black;
		}



.link {
		text-decoration: none;
		color: black;
		}
.titulos{
		color: white;
		background: black;
		text-align: right;
		}
.sep{
		margin: 80px;
		}


.footer {
		color: white;
		background: black;
		text-decoration: none;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: center;
		}

.banner {width: 1900px;
		height: 500px;
		margin: 50px;
		display: flex;
		flex-direction: row;
		position: relative;
		left: -55px;
		}

.staff {
		text-decoration: none;
		color: #FFFFFF;
		margin: 20px 50px 50px;
		}

.contacto {
		text-decoration: none;
		color: #FFFFFF;
		margin: 20px 50px 50px; 
		}


.logo1 {
		
		margin: -55px 50px;
		} 

.logo2 {
		margin: -50px 15px ;
		} 


.main {
		margin: 50px
		}

/* css contacto*/

.conctacto {
		margin:50px;
		font-size: 18pt;
		color:black;
		}

/* css lanzamientos*/



.grid { 
		display: grid;
		width: 1500px;
		height: 100vh;
		font-size: 20pt;
		margin: 50px  ;
		border: solid 10px black ;
		grid-template-columns: auto auto auto auto auto;
		grid-column-gap: 8px;
		grid-template-rows: auto auto auto auto;
		grid-row-gap: 8px;
		justify-content: space-around;
		text-align: center;
		background-color: #145204;
		background-image: linear-gradient(315deg, #145204 30%, #f53844 70%);
		}

/* Grid pesta単a noticias*/

.noticias{

		display: inline-grid;
		grid-template-columns: 200px 200px;
		grid-template-rows: 100px;
		grid-column-gap: 20px;
		grid-row-gap: 100px;
		margin: 100px;
		justify-content: start;
		align-items: center;
		}

	



.parrafo {
		text-align: center;
		}

.h2noticias {
		color:black;
		background: white;
	
		}


/* css E-SPORTS*/

.intro{
	margin: 50px 10px 50px 10px;
	padding: 25px;
	font-size: 15pt;
}
.roster{

	display: grid;
	width: 1700px;
	height: 600px;
	font-size: 24pt;
	margin: 50px  ;
	border: solid 3px black ;
	grid-template-columns: auto auto auto auto auto auto;

	grid-template-rows: auto auto auto auto;
	

	
}
.Destacado2{
	font-family:Arial;
	font-weight:bold;
	background-color:#1748e7;
	border: solid 3px black ;
	padding: auto;
	text-align: center;
	
  }


.borderColumnas {border: solid 3px black ;
	padding: auto;
	text-align: center;
	

}

.ColumnasPais {border: solid 3px black ;
	padding: auto;
	text-align: center;
	background-color:#b90d0da8;
}


.CampeonatoTitulo {font-size: 16pt;
	width: 400px;
	background-color: red;
	text-align: center;
	margin:20px auto 20px auto ;
	border: solid black 2px;
}

.RosterTitulo {font-size: 16pt;
	width: 400px;
	background-color: rgb(3, 103, 170);
	text-align: center;
	margin:20px auto 20px auto ;
	border: solid black 2px;
}

.PartidaTitulo {font-size: 16pt;
	width: 800px;
	background-color: #0ce6ee;
		background-image: linear-gradient(100deg, #0ce6ee 45%, #0735b3 45%);

	text-align: center;
	margin:20px auto 20px auto ;
	border: solid black 2px;
}

.PartidaVideo {
	margin: 50px 200px 50px 320px;
}


table{
	width:1100px;
	margin:20px auto 20px auto;
	color:white;
	text-align:center;
  }
  tr{
	cursor:pointer;
  }
  .destacado{
	font-family:Arial;
	font-weight:bold;
	background-color:#0D6859;
  }
  .fondo1{
	background-color:#7AB318;
  }
  .fondo1:hover{
	color:black;
	background-color:#00aa00;
  }
  .fondo2{
	 background-color:#A0C55E;
  }
  .fondo2:hover{
	color:black;
	background-color:#007700;
  }



/*Articulos*/
.caja {
	border: solid 7px black ;
	margin: 100px 550px 100px 550px;
	width: 780px;
	padding: 30px 10px 10px 20px;
	background-color: whitesmoke;
	
}

.articulo {
	font-size: 15pt;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

#h1 {
	text-align: left; 
	font-family: Arial Black; 
	font-weight: bold; font-size: 50px; 
	background: #202020; 
	-webkit-background-clip: text; 
	-moz-background-clip: text; 
	background-clip: text; 
	color: transparent; 
	text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
	}

	.img {
		float: left;
	  }


.img2{
display:block;

}

.img3 {
	float: right;
  }




}




/* Responsive */

@media (min-width:768px) {
	
	/* css index, header y footer*/




.headergrid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;
	justify-content:end;
	}


ul {
	list-style-type: none;
	text-align: left;
	text-decoration: none;
	}


li {
	text-decoration: none;
	margin-right: 50px;
	padding: 0 4px;
	}

.noticiasdestacado {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	}


.size {
width:400px;
height:400px;

}


h2 {
	color: white;
	background: black;
	}

p {
	color:black;
	}



.link {
	text-decoration: none;
	color: black;
	}
.titulos{
	color: white;
	background: black;
	text-align: right;
	}
.sep{
	margin: 80px;
	}


.footer {
	color: white;
	background: black;
	text-decoration: none;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	}

.banner {width: 1024px;
	height: 500px;
	margin: 50px;
	display: flex;
	flex-direction: row;
	position: relative;
	left: -55px;
	}

.staff {
	text-decoration: none;
	color: #FFFFFF;
	margin: 20px 50px 50px;
	}

.contacto {
	text-decoration: none;
	color: #FFFFFF;
	margin: 20px 50px 50px; 
	}


.logo1 {width: 350px;
	height: 200px;
	margin: -55px 50px;
	} 

.logo2 {
	margin: -50px 15px ;
	} 


.main {
	margin: 50px
	}

/* css contacto*/

.conctacto {
	margin:50px;
	font-size: 18pt;
	color:black;
	}

/* css lanzamientos*/



.grid { 
	display: grid;
	width: 800px;
	height: 100vh;
	font-size: 15pt;
	margin: 50px  ;
	border: solid 10px black ;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 8px;
	grid-template-rows: auto auto auto auto;
	grid-row-gap: 8px;
	justify-content: space-around;
	text-align: center;
	background-color: #145204;
	background-image: linear-gradient(315deg, #145204 30%, #f53844 70%);
	}

/* Grid pesta単a noticias*/

.noticias{

	display: inline-grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 100px;
	grid-column-gap: 20px;
	grid-row-gap: 100px;
	margin: 100px;
	justify-content: start;
	align-items: center;
	}





.parrafo {
	text-align: center;
	}

.h2noticias {
	color:black;
	background: white;

	}


/* css E-SPORTS*/

.intro{
margin: 50px 10px 50px 10px;
padding: 25px;
font-size: 15pt;
}
.roster{

display: grid;
width: 800px;
height: 600px;
font-size: 24pt;
margin: auto  ;
border: solid 3px black ;
grid-template-columns: auto auto auto auto auto auto;

grid-template-rows: auto auto auto auto;



}
.Destacado2{
font-family:Arial;
font-weight:bold;
background-color:#1748e7;
border: solid 3px black ;
padding: auto;
text-align: center;

}


.borderColumnas {border: solid 3px black ;
padding: auto;
text-align: center;


}

.ColumnasPais {border: solid 3px black ;
padding: auto;
text-align: center;
background-color:#b90d0da8;
}


.CampeonatoTitulo {font-size: 16pt;
width: 200px;
background-color: red;
text-align: center;
margin:30px auto 30px auto ;
border: solid black 2px;
}

.RosterTitulo {font-size: 16pt;
width: 200px;
background-color: rgb(3, 103, 170);
text-align: center;
margin:20px auto 20px auto ;
border: solid black 2px;
}

.PartidaTitulo {font-size: 16pt;
width: 800px;
background-color: #0ce6ee;
	background-image: linear-gradient(100deg, #0ce6ee 45%, #0735b3 45%);

text-align: center;
margin:20px auto 20px auto ;
border: solid black 2px;
}

.PartidaVideo {width: 800px;
	height: 600px;
margin: 50px 80px 50px 100px;
}


table{
width:800px;
margin:20px auto 20px auto;
color:white;
text-align:center;
}
tr{
cursor:pointer;
}
.destacado{
font-family:Arial;
font-weight:bold;
background-color:#0D6859;
}
.fondo1{
background-color:#7AB318;
}
.fondo1:hover{
color:black;
background-color:#00aa00;
}
.fondo2{
 background-color:#A0C55E;
}
.fondo2:hover{
color:black;
background-color:#007700;
}



/*Articulos*/
.caja {
border: solid 7px black ;
margin: 75px auto 75px auto;
width: 700px;
padding: 30px 10px 10px 20px;
background-color: whitesmoke;

}

.articulo {
	margin: auto;
font-size: 15pt;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

#h1 {
text-align: left; 
font-family: Arial Black; 
font-weight: bold; font-size: 50px; 
background: #202020; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

.img {
	float: left;
  }


.img2{
display:block;
margin:auto;
}

.img3 {
float: right;
}


.color {
	width: 1100px;
background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(237,7,7,1) 28%, rgba(204,6,6,1) 68%, rgba(0,0,0,1) 96%);


}

	
}

@media (max-width:767px) {
	

	.headergrid {
		display: flex;
		flex-direction: column;
	
	
		
		
		
		}


ul {
		list-style-type: none;
		text-align: right;
		text-decoration: none;
		}


li {
		text-decoration: none;
		margin-right: 10px;
		padding:  4px;
		}

.noticiasdestacado {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-around;
		}


.size {
	width:200px;
	height:150px;

}


h2 {
		color: white;
		background: black;
		}

p {
		color:black;
		}



.link {
		text-decoration: none;
		color: black;
		}
.titulos{
		color: white;
		background: black;
		text-align: right;
		}
.sep{
		margin: 80px;
		}


.footer {
		color: white;
		background: black;
		text-decoration: none;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-around;
		align-items: center;
		}

.banner {width: 340px;
		height: 400px;
		margin: 50px;
		display: flex;
		flex-direction: row;
		position: relative;
		left: -55px;
		}

.staff {font-size:9pt;
		text-decoration: none;
		color: #FFFFFF;
		margin: 20px 50px 50px;
		}

.contacto {font-size: 9pt;
		text-decoration: none;
		color: #FFFFFF;
		margin: 20px 50px 50px; 
		}


.logo1 {
	width: 200px;
	height:150px ;
	margin: -55px 10px;
		} 

.logo2 { position: fixed;

		visibility: hidden;
		} 


.main {
		margin: 20px
		}

		/* css lanzamientos*/



.grid { margin:3px;
	display: grid;
	width:290px;
	height: 100vh;
	font-size:8pt;
	
	border: solid 5px black ;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 1px;
	grid-template-rows: auto auto auto auto;
	grid-row-gap:1px;
	justify-content: space-around;
	text-align: center;
	background-color: #145204;
	background-image: linear-gradient(315deg, #145204 30%, #f53844 70%);
	}

	/* Grid pesta単a noticias*/

.noticias{

	display: inline-grid;
	grid-template-columns: 200px ;
	grid-template-rows: 100px;
	grid-column-gap: 5px;
	grid-row-gap: 10px;
	margin: 20px;
	justify-content: start;
	align-items: center;
	}





.parrafo {
	text-align: center;
	}

.h2noticias {
	color:black;
	background: white;

	}

	/* css E-SPORTS*/

.intro{
	margin: 50px 10px 50px 10px;
	padding: 25px;
	font-size: 15pt;
}
.roster{

	display: grid;
	width: 300px;
	height: 250px;
	font-size: 9pt;
	margin: 2px  ;
	border: solid 3px black ;
	grid-template-columns: auto auto auto auto auto auto;

	grid-template-rows: auto auto auto auto;
	

	
}
.Destacado2{
	font-family:Arial;
	font-weight:bold;
	background-color:#1748e7;
	border: solid 3px black ;
	padding: auto;
	text-align: center;
	
  }


.borderColumnas {border: solid 3px black ;
	padding: auto;
	text-align: center;
	

}

.ColumnasPais {border: solid 3px black ;
	padding: auto;
	text-align: center;
	background-color:#b90d0da8;
}


.CampeonatoTitulo {font-size: 16pt;
	width: 200px;
	background-color: red;
	text-align: center;
	margin:20px auto 20px auto ;
	border: solid black 2px;
}

.RosterTitulo {font-size: 16pt;
	width: 200px;
	background-color: rgb(3, 103, 170);
	text-align: center;
	margin:20px auto 20px auto ;
	border: solid black 2px;
}

.PartidaTitulo {font-size: 16pt;
	width: 200px;
	background-color: #0ce6ee;
		background-image: linear-gradient(100deg, #0ce6ee 45%, #0735b3 45%);

	text-align: center;
	margin:20px auto 20px auto ;
	border: solid black 2px;
}

.PartidaVideo {width: 280px;
	margin: 20px;
}


table{
	width:300px;
	margin:20px auto 20px auto;
	color:white;
	text-align:center;
  }
  tr{
	cursor:pointer;
  }
  .destacado{
	font-family:Arial;
	font-weight:bold;
	background-color:#0D6859;
  }
  .fondo1{
	background-color:#7AB318;
  }
  .fondo1:hover{
	color:black;
	background-color:#00aa00;
  }
  .fondo2{
	 background-color:#A0C55E;
  }
  .fondo2:hover{
	color:black;
	background-color:#007700;
  }

  /*Articulos*/
.caja {
	
	margin: 90px auto 90px auto;
	width: 200px;
	padding:25px;
	background-color: whitesmoke;
	
}

.articulo {
	font-size: 9pt;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

#h1 {
	text-align: left; 
	font-family: Arial Black; 
	font-weight: bold; font-size: 12pt; 
	background: #202020; 
	-webkit-background-clip: text; 
	-moz-background-clip: text; 
	background-clip: text; 
	color: transparent; 
	text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
	}

	.img {
		float: left;
	  }


.img2{
display:block;
margin:auto;
}

.img3 {
	float: right;
  }



}




	
}

@media (min-width:1200px) {
	body {
		background-color: green;
	}
	
}

@media (min-width:1900px) {
	
	/* css index, header y footer*/
body {	
	max-width: 1900px;
	max-height: 1080px;
	font-family: 'Quicksand', sans-serif;
	font-family: 'Ubuntu Condensed', sans-serif;
	}



.headergrid {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 10px;
	justify-content:end;
	}


ul {
	list-style-type: none;
	text-align: left;
	text-decoration: none;
	}


li {
	text-decoration: none;
	margin-right: 50px;
	padding: 0 4px;
	}

.noticiasdestacado {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	}


.size {
width:750px;
height:650px;

}


h2 {
	color: white;
	background: black;
	}

p {
	color:black;
	}



.link {
	text-decoration: none;
	color: black;
	}
.titulos{
	color: white;
	background: black;
	text-align: right;
	}
.sep{
	margin: 80px;
	}


.footer {
	color: white;
	background: black;
	text-decoration: none;
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	}

.banner {width: 1900px;
	height: 500px;
	margin: 50px;
	display: flex;
	flex-direction: row;
	position: relative;
	left: -55px;
	}

.staff {
	text-decoration: none;
	color: #FFFFFF;
	margin: 20px 50px 50px;
	}

.contacto {
	text-decoration: none;
	color: #FFFFFF;
	margin: 20px 50px 50px; 
	}


.logo1 {height: 30%;
	width: 25%;
	margin: -70px 50px;
	} 

.logo2 {
	margin: -50px 15px ;
	} 


.main {
	margin: 50px
	}

/* css contacto*/

.conctacto {
	margin:50px;
	font-size: 18pt;
	color:black;
	}

/* css lanzamientos*/



.grid { 
	display: grid;
	width: 1200px;
	height: 100vh;
	font-size: 20pt;
	margin: 50px 50px 50px 50px  ;
	border: solid 10px black ;
	grid-template-columns: auto auto auto auto auto;
	grid-column-gap: 8px;
	grid-template-rows: auto auto auto auto;
	grid-row-gap: 8px;
	justify-content: space-around;
	text-align: center;
	background-color: #145204;
	background-image: linear-gradient(315deg, #145204 30%, #f53844 70%);
	}

/* Grid pesta単a noticias*/

.noticias{

	display: inline-grid;
	grid-template-columns: 200px 200px;
	grid-template-rows: 100px;
	grid-column-gap: 20px;
	grid-row-gap: 100px;
	margin: 100px;
	justify-content: start;
	align-items: center;
	}





.parrafo {
	text-align: center;
	}

.h2noticias {
	color:black;
	background: white;

	}


/* css E-SPORTS*/

.intro{
margin: 50px 10px 50px 10px;
padding: 25px;
font-size: 15pt;
}
.roster{

display: grid;
width: 1200px;
height: 600px;
font-size: 24pt;
margin: auto  ;
border: solid 3px black ;
grid-template-columns: auto auto auto auto auto auto;

grid-template-rows: auto auto auto auto;



}
.Destacado2{
font-family:Arial;
font-weight:bold;
background-color:#1748e7;
border: solid 3px black ;
padding: auto;
text-align: center;

}


.borderColumnas {border: solid 3px black ;
padding: auto;
text-align: center;


}

.ColumnasPais {border: solid 3px black ;
padding: auto;
text-align: center;
background-color:#b90d0da8;
}


.CampeonatoTitulo {font-size: 16pt;
width: 400px;
background-color: red;
text-align: center;
margin:20px auto 20px auto ;
border: solid black 2px;
}

.RosterTitulo {font-size: 16pt;
width: 400px;
background-color: rgb(3, 103, 170);
text-align: center;
margin:20px auto 20px auto ;
border: solid black 2px;
}

.PartidaTitulo {font-size: 16pt;
width: 800px;
background-color: #0ce6ee;
	background-image: linear-gradient(100deg, #0ce6ee 45%, #0735b3 45%);

text-align: center;
margin:20px auto 20px auto ;
border: solid black 2px;
}

.PartidaVideo {width: 1200px;
margin: 50px 200px 50px 320px;
}


table{
width:800px;
margin:20px auto 20px auto;
color:white;
text-align:center;
}
tr{
cursor:pointer;
}
.destacado{
font-family:Arial;
font-weight:bold;
background-color:#0D6859;
}
.fondo1{
background-color:#7AB318;
}
.fondo1:hover{
color:black;
background-color:#00aa00;
}
.fondo2{
 background-color:#A0C55E;
}
.fondo2:hover{
color:black;
background-color:#007700;
}



/*Articulos*/
.caja {
border: solid 7px black ;
margin: 100px 550px 100px 550px;
width: 780px;
padding: 30px 10px 10px 20px;
background-color: whitesmoke;

}

.articulo {
font-size: 15pt;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;



}

#h1 {
text-align: left; 
font-family: Arial Black; 
font-weight: bold; font-size: 50px; 
background: #202020; 
-webkit-background-clip: text; 
-moz-background-clip: text; 
background-clip: text; 
color: transparent; 
text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

.img {
	float: left;
  }


.img2{
display:block;

}

.img3 {
float: right;

}


.color {
	background: rgb(0,0,0);
	background: linear-gradient(90deg, rgba(0,0,0,1) 7%, rgba(237,7,7,1) 28%, rgba(204,6,6,1) 68%, rgba(0,0,0,1) 96%);
	margin: -90px;
	padding: -70px;


}
